# Functions

A function is a block of code which only runs when it is called.
A function is allowing us to order our code, make it more readable, reuse it and save some time.
You can pass data, known as parameters, into a function.
A function can return data as a result.
functions are a key way to define interfaces so programmers can share their code.

In [1]:
print("Program starts")

print("Hi Peter")
print("Nice to see you again!")
print("Enjoy our video!") 

print("Hi Sarah")
print("Nice to see you again!")
print("Enjoy our video!")

print("Hi John")
print("Nice to see you again!")
print("Enjoy our video!")

Program starts
Hi Peter
Nice to see you again!
Enjoy our video!
Hi Sarah
Nice to see you again!
Enjoy our video!
Hi John
Nice to see you again!
Enjoy our video!

In [2]:
#by using function
def greet(name): # define function
    print("Hi " + name) # argument
    print("Nice to see you again!")
    print("Enjoy our video!")

print("Program starts")

greet("Peter")      
greet("Sarah")      
greet("Dominque")
greet("Hassan")
greet("Mubeen")
greet("Nabeel")

Program starts
Hi Peter
Nice to see you again!
Enjoy our video!
Hi Sarah
Nice to see you again!
Enjoy our video!
Hi Dominque
Nice to see you again!
Enjoy our video!
Hi Hassan
Nice to see you again!
Enjoy our video!
Hi Mubeen
Nice to see you again!
Enjoy our video!
Hi Nabeel
Nice to see you again!
Enjoy our video!

In [6]:
#keyword parameter & return value

def sumsub(a, b, c=0, d=0):
    return a - b + c - d


z=12
y=4
print(sumsub(z, y))
print(sumsub(42, 15, d=10))

10
19

In [8]:
#factorial program
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

Input a number to compute the factiorial : 5
120

In [10]:
#even number_program
def is_even_num(lista):
    enum = []
    for n in lista:
        if n % 2 == 0:
            enum.append(n)
    return enum
print(is_even_num([1, 2, 3, 4, 5, 6, 7, 8, 9]))

[2, 4, 6, 8]

In [ ]:
#Checking duplicates in a list
def duplicate(x):
    duplicate=[]
    for i in range(len(x)):
        k=i+1
        for j in range(k,len(x)):
            if x[i]==x[j] and x[i] not in duplicate:
                duplicate.append(x[i])
    return duplicate
# Making a list and calling it in the above function
li=["Hassan",'Hassan', 'Ahmed', 'Khan', 'Niazi', 'Irshad', 'Bilal','Hassan',1,1,1,2,3,5,7,7,"Bilal"]
print("Duplicated Values in a list are ",duplicate(li))

# lambda function
"""
A lambda function is a small anonymous function.
A lambda function can take any number of arguments, but can only have one expression.
"""

In [11]:
r = lambda a : a + 15
r(10)
#print(r(10))

25

In [15]:
power= lambda x, y : x ** y
power(2,4)
#print(product(12, 4))

16

In [36]:
def add(a,b):
    return a+b

z=2+3
z

5

In [32]:
#Python program to create a function that takes one argument, and that argument will be multiplied with an unknown given number.
def func_compute(n):
    return lambda x : x * n

In [29]:
n=18
result=lambda x : x * n
result(2)

36

In [33]:
result = func_compute(2)
# result= lambda x : x * n

In [34]:
print("Double the number of 15 =", result(15))

Double the number of 15 = 30

In [16]:
result = func_compute(3)
print("Triple the number of 15 =", result(15))
result = func_compute(4)
print("Quadruple the number of 15 =", result(15))
result = func_compute(5)
print("Quintuple the number 15 =", result(15))

Double the number of 15 = 30
Triple the number of 15 = 45
Quadruple the number of 15 = 60
Quintuple the number 15 = 75

In [17]:
#Python program to filter a list of integers using Lambda.
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Original list of integers:")
print(nums)

Original list of integers:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
print("\nEven numbers from the said list:")
even_nums = filter(lambda x: x%2 == 0, nums)
print(list(even_nums))

Even numbers from the said list:
[2, 4, 6, 8, 10]

In [19]:
print("\nOdd numbers from the said list:")
odd_nums = filter(lambda x: x%2 != 0, nums)
print(list(odd_nums))

Odd numbers from the said list:
[1, 3, 5, 7, 9]

In [20]:
#Python program to square and cube every number in a given list of integers using Lambda.
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Original list of integers:")
print(nums)

Original list of integers:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
print("\nSquare every number of the said list:")
square_nums = map(lambda x: x ** 2, nums)
print(list(square_nums))

Square every number of the said list:
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [22]:
print("\nCube every number of the said list:")
cube_nums = map(lambda x: x ** 3, nums)
print(list(cube_nums))

Cube every number of the said list:
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

# Object Oriented Programming

### create and use of class

In [39]:
class Dog():
    """a simple try of simulating a dog"""
    def __init__(self,name,age):
        """Initializeattribute: name and age"""
        self.name = name
        self.age = age
    def sit(self):
        """Simulate sitting when a dog is ordered to do so"""
        print(self.name.title()+" "+"is now sitting")
    def roll_over(self):
        """Simulate rolling over when a dog is ordered to do so"""
        print(self.name.title()+" "+"rolled over!")
    def time_with_owner(self):
        """Tells since when the dog is with the owner"""
        print(self.name.title()+" "+"has been with its owner for about"+" "+str(self.age-1)+" "+"years")

In [40]:
d=Dog('fluffy',5)

In [41]:
d.sit()

Fluffy is now sitting

In [42]:
d.roll_over()

Fluffy rolled over!

In [43]:
d.time_with_owner()

Fluffy has been with its owner for about 4 years

### Access Attributes

In [11]:
class Employee:
    empCount = 0
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
        Employee.empCount += 1
    def displayCount(self):
        print("Total Employee %d" % Employee.empCount )
    def displayEmployee(self):
        print("Name : ", self.name, ", Salary: ", self.salary)
"Create the first object of the employee class"
emp1 = Employee("Zara", 2000)
"Create the second object of the employee class"
emp2 = Employee("Mani", 5000)
emp1.displayEmployee()
emp2.displayEmployee()
print("Total Employee %s" % Employee.empCount)

Name :  Zara , Salary:  2000
Name :  Manni , Salary:  5000
Total Employee 2

### Class Inheritance

In [44]:
class Parent:
    # Define the parent class
    parentAttr = 100
    def __init__(self):
        print("Call parent class construction method")
    def parentMethod(self):
        print('Call parent class method')
    def setAttr(self, attr):
        Parent.parentAttr = attr
    def getAttr(self):
        print("Parent class attribute", Parent.parentAttr)


class Child(Parent):
    # Define a sub-class
    def __init__(self):
        print("Call sub-class construction method")
    def childMethod(self):
        print("Call sub-class method")

In [45]:
c = Child()

Call sub-class construction method

In [46]:
 # Instantiate sub-class
c.childMethod() # Call sub-class method

Call sub-class method

In [47]:
c.parentMethod() # Call parent class method

Call parent class method

In [48]:
c.setAttr(200) # Re-call parent class method - set attributes

In [49]:
c.getAttr() # Re-call parent class method - get attributes

Parent class attribute 200

### Class Attributes & Methods

In [ ]:
class JustCounter:
    __secretCount = 0 # Private variable
    publicCount = 0 # Public variable
    def count(self):
        self.__secretCount += 1
        self.publicCount += 1
        print(self.__secretCount)
counter = JustCounter()
counter.count()
counter.count()
print(counter.publicCount)
#print(counter.__secretCount) # Error. Instance cannot access private variable

# Date & Time

### Get the current time

In [50]:
import time
localtime = time.localtime(time.time())
print("Local time:", localtime)

Local time: time.struct_time(tm_year=2021, tm_mon=1, tm_mday=30, tm_hour=11, tm_min=41, tm_sec=0, tm_wday=5, tm_yday=30, tm_isdst=0)

### Get the formatted time

In [51]:
localtime = time.asctime( time.localtime(time.time()) )
print("Local time :", localtime)

Local time : Sat Jan 30 11:41:57 2021

### Format date

In [52]:
# Format into 2016-03-20 11:45:39
print(time.strftime("%Y-%m-%d %H:%M:%S", time.localtime()))

2021-01-30 11:45:11

In [53]:
# Format into Sat Mar 28 22:24:24 2016
print(time.strftime("%a %b %d %H:%M:%S %Y", time.localtime()))

Sat Jan 30 11:45:13 2021

In [54]:
# Turn format string into timestamp
a = "Sat Mar 28 22:24:24 2016"
print(time.mktime(time.strptime(a,"%a %b %d %H:%M:%S %Y")))

1459185864.0

### Get calendar of a month

In [55]:
import calendar
cal = calendar.month(2021, 1)
print("output calendar of January 2021:")
print(cal)

output calendar of January 2021:
    January 2021
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

# Read, Write & delete files in python

In [61]:
import os

In [64]:
 os.getcwdb()

C:\Users\hassan.ahmed1\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: The Windows bytes API has been deprecated, use Unicode filenames instead
  """Entry point for launching an IPython kernel.

b'C:\\Users\\hassan.ahmed1\\FTI Cohort 3\\Module 1\\Lecture # 3'

In [58]:
f = open("xyz.txt", "x")
f.close()

In [69]:
f= open("xyz.txt", "w")
f.write("An ancient text called the Voynich Manuscript still baffles scientists.")
f.close()

In [81]:
s = open("xyz.txt", "a")
s.write("\nAn ancient text called the Voynich Manuscript still baffles scientists.")
s.close()

In [85]:
s = open("xyz.txt", "r")
print(s.read())
s.close()

An ancient text called the Voynich Manuscript still baffles scientists.
An ancient text called the Voynich Manuscript still baffles scientists.
An ancient text called the Voynich Manuscript still baffles scientists.
An ancient text called the Voynich Manuscript still baffles scientists.
An ancient text called the Voynich Manuscript still baffles scientists.
An ancient text called the Voynich Manuscript still baffles scientists.
An ancient text called the Voynich Manuscript still baffles scientists.
An ancient text called the Voynich Manuscript still baffles scientists.
An ancient text called the Voynich Manuscript still baffles scientists.
An ancient text called the Voynich Manuscript still baffles scientists.
An ancient text called the Voynich Manuscript still baffles scientists.
An ancient text called the Voynich Manuscript still baffles scientists.
An ancient text called the Voynich Manuscript still baffles scientists.

In [ ]:
d = open("History_facts.txt", "w")
d.write("An ancient text called the Voynich Manuscript still baffles scientists.")
d.close()
d = open("Historic_facts.txt", "r")
print(d.read())
d.close()

In [86]:
os.remove("xyz.txt")

# Regular Expressions

In [87]:
import re

In [89]:
address = '34/1 23rd street Main Khayaban e Mujahid DHA Karachi Pakistan'
pattern = re.compile('Karachi')
matches = pattern.finditer(address)
print(matches)

<callable_iterator object at 0x000002412BC9A288>

In [90]:
for i in matches:
    print(i)

<re.Match object; span=(45, 52), match='Karachi'>

In [91]:
text = 'DHA SUFFA. UNIVERSITY'
print(re.findall('\.', text))# matches a period

['.']

In [93]:
print(re.findall('[^\.]', text))  # matches anything but a period

['D', 'H', 'A', ' ', 'S', 'U', 'F', 'F', 'A', ' ', 'U', 'N', 'I', 'V', 'E', 'R', 'S', 'I', 'T', 'Y']

In [95]:
print(re.findall('\s*[^\.]', text))  # matches anything but a period

[' S', ' U']

In [99]:
text = 'There might be too many 33 words in this text 2 but there is only 1 number'
print(re.findall('\d+', text))  # \d  Any digit. The + mandates at least 1 digit.

['33', '2', '1']

In [100]:
#Assignment

text='find needle in the haystack' #find needle

#find the number 1
text = 'llllllllllllllllllllllllllllll1llllllllllll1lllllllllllllllllllllllllllllllllllllll' #find 1
print(re.findall('\d+', text))

['1', '1']

In [101]:
regex = re.compile('\s+')

text = """101 COM    Computers
205 MAT   Mathematics
189 ENG   English"""
# split the text around 1 or more space characters
re.split('\s+', text)

['101',
 'COM',
 'Computers',
 '205',
 'MAT',
 'Mathematics',
 '189',
 'ENG',
 'English']

In [102]:
regex.split(text)

['101',
 'COM',
 'Computers',
 '205',
 'MAT',
 'Mathematics',
 '189',
 'ENG',
 'English']

In [103]:
# find all numbers within the text
#print(text)
regex_num = re.compile('\d+')
regex_num.findall(text)

['101', '205', '189']

As the name suggests, regex.search() searches for the pattern in a given text.

But unlike findall which returns the matched portions of the text as a list, regex.search() returns a particular match object that contains the starting and ending positions of the first occurrence of the pattern.

Likewise, regex.match() also returns a match object. But the difference is, it requires the pattern to be present at the beginning of the text itself.

In [104]:
# define the text
text2 = """COM    Computers
205 MAT   Mathematics 189"""

# compile the regex and search the pattern
regex_num = re.compile('\d+')
s = regex_num.search(text2)

In [105]:
print('Starting Position: ', s.start())
print('Ending Position: ', s.end())
print(text2[s.start():s.end()])

Starting Position:  17
Ending Position:  20
205

Alternately, you can get the same output using the group() method of the match object.

In [106]:
print(s.group())

205

In [107]:
m = regex_num.match(text2)
print(m)

None

To replace texts, use the regex.sub().

Let’s consider the following modified version of the courses text. Here I have added an extra tab after each course code.

In [108]:
# define the text
text = """101   COM \t  Computers
205   MAT \t  Mathematics
189   ENG  \t  English"""  
print(text)

101   COM 	  Computers
205   MAT 	  Mathematics
189   ENG  	  English

From the above text, I want to even out all the extra spaces and put all the words in one single line.

To do this, you just have to use regex.sub to replace the '\s+' pattern with a single space ‘ ‘.

In [109]:
# replace one or more spaces with single space
regex = re.compile('\s+')
print(regex.sub(' ', text))

101 COM Computers 205 MAT Mathematics 189 ENG English

In [110]:
# or
print(re.sub('\s+', ' ', text))

101 COM Computers 205 MAT Mathematics 189 ENG English

Suppose you only want to get rid of the extra spaces but want to keep the course entries in the new line itself. To achieve that you should use a regex that effectively excludes new line characters but includes all other whitespaces.

This can be done using a negative lookahead (?!\n). It checks for an upcoming newline character and excludes it from the pattern.

In [111]:
regex = re.compile('((?!\n)\s+)')
print(regex.sub(' ', text))

101 COM Computers
205 MAT Mathematics
189 ENG English

### Regex Groups

In [113]:
text = """101   COM   Computers
205   MAT   Mathematics
189   ENG    English"""  

# 1. extract all course numbers
re.findall('[0-9]+', text)

['101', '205', '189']

In [114]:
# 2. extract all course codes
re.findall('[A-Z]{3}', text)

['COM', 'MAT', 'ENG']

In [115]:
# 3. extract all course names
re.findall('[A-Za-z]{4,}', text)

['Computers', 'Mathematics', 'English']

In [116]:
# define the course text pattern groups and extract
course_pattern = '([0-9]+)\s*([A-Z]{3})\s*([A-Za-z]{4,})'
re.findall(course_pattern, text)

[('101', 'COM', 'Computers'),
 ('205', 'MAT', 'Mathematics'),
 ('189', 'ENG', 'English')]

In [118]:
text = 'machinelearningplus.123'
print(re.match('[A-Za-z]{4,}\.com', text))  # matches a period

None

# Thanks