 # Python Syntax

### Displaying the output of a computer program

In [23]:
print("My name is Hassan")
print(5+10)

My name is Hassan
15

### Assigning the Value

In [24]:
x = 10
y = "Hassan"
z = 15.66
print(x)
print(y)
print(z)

10
Hassan
15.66

### Creating a Comment

In [25]:
#this is the comment
print('My name is Hassan')

#this is the comment
#written in 

print(10+5) #more than just one line

my name is Hassan
15

In [26]:
#ignoring certain line of code by using code comment
#x=4
y=6
print(y)


#you can add multi line string 
#in your code, 
#and place your comment inside it

6

### Python Input() Function

In [29]:
#Ask for the user's name and print it
print('Enter your name:')
x = input()
print('Hello, ' + x)

Enter your name:
Hassan
Hello, Hassan

In [30]:
#Use the prompt parameter to write a message before the input
x = input('Enter your name:')
print('Hello, ' + x)

Enter your name:Hassan
Hello, Hassan

### Import Libraries

Modules are Python .py files that consist of Python code.

In Python, modules are accessed by using the import statement.

There are a number of modules that are built into the Python Standard Library. 

The Python Standard Library is part of every Python installation.

In [32]:
import numpy
import pandas

In [33]:
import random
#from random import randint
import math as mt
#import math as m # aliasing module

print(mt.pi)

3.141592653589793

# Variables & Data Types

### Creating Variable

In [36]:
"""
Variables are containers for storing data values.

Unlike other programming languages, Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

(This is a multi line Comment)
"""

x = 15
y = 10
z = x + y
print(x)
print(y)
print(z)

15
10
25

##### These are the two syntax rules we need to be aware of when we're naming variables:

1. We must use only letters, numbers, or underscores (we cannot use apostrophes, hyphens, whitespace characters, etc.).
2. Variable names cannot start with a number.

In [37]:
#Legal variable names:
myvar = "Hassan"
my_var = "Hassan"
_my_var = "Hassan"
myVar = "Hassan"
MYVAR = "Hassan"
myvar2 = "Hassan"

In [38]:
#Illegal variable names:
2myvar = "Hassan"
my-var = "Hassan"
my var = "Hassan"

#Variable names are case-sensitive (age, Age and AGE are three different variables)

SyntaxError: invalid syntax (<ipython-input-38-c009c762c6e6>, line 2)

### Assign Value to Multiple Variables

In [39]:
# Python allows you to assign values to multiple variables in one line
x, y, z = "Black" , "White" , "Blue"
print(x)
print(y)
print(z)

Black
White
Blue

In [41]:
# you can assign the same value to multiple variables in one line
a=b=c = "Hassan"
print(a)
print(b)
print(c)

Hassan
Hassan
Hassan

### Updating the value stored in one valriable

In [42]:
x = 15
x += 10 # this is the same as 'x = x + 10'
print(x)

25

### Built in Data Types

### Finding the type of value

In [44]:
"""
Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories
"""
#Text Datatype: String (str) 
a = "Hassan"
print(type(a))

<class 'str'>

In [45]:
#Numeric Datatype: Integer(int) , Float(float)
b = 30
c = 30.5
d = 3j
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'complex'>

In [46]:
#Sequence Datatypes: List , Tuple
i = ["Orange" , "Apple" , "Banana"]
print(type(i))
j = ("Black" , "White" , "Blue")
print(type(j))

<class 'list'>
<class 'tuple'>

In [ ]:
#Mapping Datatype: Dictionaries(dict)
my_var = {
   "Brand": "Apple",
   "Model": "iphone 12",
   "year": 2020
}
print(type(my_var))

In [48]:
#Set Datatypes: Sets(set)
x = {"Samsung" , "Apple" , "Nokia"}
print(type(x))

<class 'set'>

In [47]:
#Boolean Datatype: Boolean(bool)
y = 10
z = 15
p = y > z
print(type(p))

<class 'bool'>

### Converting & Casting between type of variables

In [49]:
x = 15    # int
y = 35.6e10  # float
j=32+52j

In [58]:
#convert from int to float:
a = float(x)
print(a)
print(type(a))

15.0
<class 'float'>

In [60]:
#convert from float to int:
b = int(y)
print(b)
print(type(b))

356000000000
<class 'int'>

In [59]:
#convert from int to complex:
c = complex(x)
print(c)
print(type(c))

(15+0j)
<class 'complex'>

In [63]:
#convert from str to int
d = str(x)
print(type(d))

#convert from str to float
e = str(y)
print(type(e))

<class 'str'>
<class 'str'>

In [64]:
i = complex(j).real
k=complex(j).imag
print(i)
print(k)

32.0
52.0

In [3]:
# Round Command
round(4.85)

5

In [65]:
round(2.5)

2

In [66]:
round(2.51)

3

In [67]:
import math as mt
mt.floor(4.85)

4

In [68]:
# prints the ceil using floor() method 
print("mt.floor(-23.11) : ", mt.floor(-23.11))
print ("mt.floor(300.16) : ", mt.floor(300.16)) 
print ("mt.floor(300.72) : ", mt.floor(300.72))

mt.floor(-23.11) :  -24
mt.floor(300.16) :  300
mt.floor(300.72) :  300

In [69]:
mt.ceil(4.85)

5

In [70]:
# prints the ceil using ceil() method 
print ("mt.ceil(-23.11) : ", mt.ceil(-23.11) )
print( "mt.ceil(300.16) : ", mt.ceil(300.16) )
print ("mt.ceil(300.72) : ", mt.ceil(300.72) )

mt.ceil(-23.11) :  -23
mt.ceil(300.16) :  301
mt.ceil(300.72) :  301

# Strings

1) Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

2) However, Python does not have a character data type, a single character is simply a string with a length of 1.

3) Square brackets can be used to access elements of the string

In [71]:
s = "Hassan Ahmed"
print(s[0])
print(s[1])

#string length
print(len(s))

H
a
12

In [72]:
#string concatenation
x = "Good"
y = "Luck"
z = x + y
print(z)
ab = x +" "+y
print(ab)

GoodLuck
Good Luck

In [73]:
#String Checking
quote = "Two things are infinite: the universe and human stupidity; and I'm not sure about the universe."
c = "human" in quote
print(c)
print(type(c))

True
<class 'bool'>

In [74]:
#String Format
price = 264999
txt = "Apple iPhone 12 Pro Max's lowest price in Pakistan is Rs. {}" 
print(txt.format(price))

Apple iPhone 12 Pro Max's lowest price in Pakistan is Rs. 264999

In [78]:
#Escape Character
i = "if you don't take \'risks\', you can't create a future"
print(i)

if you don't take 'risks', you can't create a future

In [79]:
j = "if you don't take risks,\nyou can't create a future"
print(j)

if you don't take risks,
you can't create a future

In [80]:
k = "if you don't take risks,\t you can't create a future"
print(k)

if you don't take risks,	 you can't create a future

In [81]:
a = " Hassan Ahmed "

#String Method
print(a)
print(a.strip())
print(a.lower())
print(a.upper())
print(a.replace("e", "i"))
print(a.split(","))

 Hassan Ahmed
Hassan Ahmed
 hassan ahmed
 HASSAN AHMED
 Hassan Ahmid
[' Hassan Ahmed ']

# List, Tuple & Dictionaries

In [124]:
x = 15
y = 15.5
z = "Nabeel"
mylist = ["Newton","Einstein","Tesla"]
mylist2 =["Ibn al-Haytham","Al-Khwarzmi","Ibn-Sina"]
my_tuple = ("Nepolean","Hitler","Genghis Khan")
_my_dict = {"William Shakespeare": "Poet",
            "Leonardo da Vinci": "Painter",
            "Socrates": "Philosopher"
            }
my_set=set(['male','female','male','f','m','f'])
print(mylist)
print(my_tuple)
print(_my_dict)
print(my_set)

['Newton', 'Einstein', 'Tesla']
('Nepolean', 'Hitler', 'Genghis Khan')
{'William Shakespeare': 'Poet', 'Leonardo da Vinci': 'Painter', 'Socrates': 'Philosopher'}
{'female', 'male', 'f', 'm'}

In [84]:
#Creating list of lists
data = [mylist,mylist2]
print(data)

#Join two lists
data2 = mylist + mylist2
print(data2)

[['Newton', 'Einstein', 'Tesla'], ['Ibn al-Haytham', 'Al-Khwarzmi', 'Ibn-Sina']]
['Newton', 'Einstein', 'Tesla', 'Ibn al-Haytham', 'Al-Khwarzmi', 'Ibn-Sina']

In [85]:
#Indexing
print(mylist[1]) # access the list items by referring to the index number
print(my_tuple[2])# access the tuple items by referring to the index number
print(_my_dict["Socrates"])# access the dictionary items by referring to the index number

Einstein
Genghis Khan
Philosopher

In [86]:
#Negative Indexing
print(mylist[-1]) # access the list items by referring to the index number
print(my_tuple[-2])# access the tuple items by referring to the index number

Tesla
Hitler

In [87]:
#Slicing or Range of Indexes
print(data2[2:5])
print(data2[:3]) #This example returns the items from the beginning to "Ibn al-Haytham"
print(data2[4:]) #This example returns the items from "Ibn-Sina" and to the end
print(data2[-5:-3])#This example returns the items from index -5 (included) to index -3 (excluded)

['Tesla', 'Ibn al-Haytham', 'Al-Khwarzmi']
['Newton', 'Einstein', 'Tesla']
['Al-Khwarzmi', 'Ibn-Sina']
['Einstein', 'Tesla']

In [88]:
#length
print(len(data2))
print(len(my_tuple))
print(len(_my_dict))

6
3
3

In [89]:
#Add items in list
data2.append("Aristotle") 
mylist.insert(1,"Aristotle")#add an item at the specified index
print(data2)
print(mylist)

['Newton', 'Einstein', 'Tesla', 'Ibn al-Haytham', 'Al-Khwarzmi', 'Ibn-Sina', 'Aristotle']
['Newton', 'Aristotle', 'Einstein', 'Tesla']

In [90]:
#Add items in tuple
#Once a tuple is created, you cannot add items to it. Tuples are unchangeable.
#my_tuple[3] = "Alexander"
#print(my_tuple)

# Add items in Dictionary
_my_dict["Marco Polo"] = "Explorer"
print(_my_dict)

{'William Shakespeare': 'Poet', 'Leonardo da Vinci': 'Painter', 'Socrates': 'Philosopher', 'Marco Polo': 'Explorer'}

In [91]:
_my_dict["Marco Polo"] = "Traveller"
print(_my_dict) # Change Value in Dictonary

{'William Shakespeare': 'Poet', 'Leonardo da Vinci': 'Painter', 'Socrates': 'Philosopher', 'Marco Polo': 'Traveller'}

In [92]:
#Remove Items in List
mylist.remove("Newton")
print(mylist) #The remove() method removes the specified item

['Aristotle', 'Einstein', 'Tesla']

In [93]:
data2.pop()
print(data2) 
#The pop() method removes the specified index, (or the last item if index is not specified)

['Newton', 'Einstein', 'Tesla', 'Ibn al-Haytham', 'Al-Khwarzmi', 'Ibn-Sina']

In [94]:
mylist.clear()
print(mylist) #The clear() method empties the list

[]

In [95]:
#Remove Items in Dictonary
_my_dict.pop("Socrates")
print(_my_dict)

{'William Shakespeare': 'Poet', 'Leonardo da Vinci': 'Painter', 'Marco Polo': 'Traveller'}

In [96]:
_my_dict.popitem()
print(_my_dict)

{'William Shakespeare': 'Poet', 'Leonardo da Vinci': 'Painter'}

In [97]:
_my_dict.clear()
print(_my_dict)

{}

In [98]:
new_dict= _my_dict.copy()

In [99]:
del new_dict

In [100]:
#Nested Dictonaries
people = {1: {'name': 'Noman', 'age': '22', 'sex': 'Male'},
          2: {'name': 'Rubab', 'age': '24', 'sex': 'Female'}}

print(people)

{1: {'name': 'Noman', 'age': '22', 'sex': 'Male'}, 2: {'name': 'Rubab', 'age': '24', 'sex': 'Female'}}

In [101]:
people = {1: {'name': 'Noman', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Rubab', 'age': '22', 'sex': 'Female'}}

In [102]:
print(people[1]['name'])
print(people[1]['age'])
print(people[1]['sex'])

Noman
27
Male

In [103]:
people = {1: {'name': 'Noman', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Rubab', 'age': '22', 'sex': 'Female'}}

people[3] = {'name': 'Peter', 'age': '29', 'sex': 'Male', 'married': 'Yes'}
print(people[3])

{'name': 'Peter', 'age': '29', 'sex': 'Male', 'married': 'Yes'}

In [104]:
print(people)

{1: {'name': 'Noman', 'age': '27', 'sex': 'Male'}, 2: {'name': 'Rubab', 'age': '22', 'sex': 'Female'}, 3: {'name': 'Peter', 'age': '29', 'sex': 'Male', 'married': 'Yes'}}

In [105]:
print(data2)

['Newton', 'Einstein', 'Tesla', 'Ibn al-Haytham', 'Al-Khwarzmi', 'Ibn-Sina']

In [106]:
data3=data2.copy()

data3.sort()
print(data3) #Sort the list alphabetically

['Al-Khwarzmi', 'Einstein', 'Ibn al-Haytham', 'Ibn-Sina', 'Newton', 'Tesla']

In [107]:
data3.sort(reverse = True)
print(data3) #Sort the list descendeing

['Tesla', 'Newton', 'Ibn-Sina', 'Ibn al-Haytham', 'Einstein', 'Al-Khwarzmi']

In [108]:
data3.reverse()
print(data3) #Reverse the order of the list items

['Al-Khwarzmi', 'Einstein', 'Ibn al-Haytham', 'Ibn-Sina', 'Newton', 'Tesla']

# Python Conditional Statements

In [109]:
#else Statement
temperature = float(input('What is the temperature? '))
if temperature > 70:
    print('Wear shorts.')
else:
    print('Wear long pants.')
    print('Get some exercise outside.')

What is the temperature? 34
Wear long pants.
Get some exercise outside.

In [110]:
#elif Statement
num = int(input('Enter any number between 0 and 10: '))
if (num == 0):
    print("Number is Zero")
 
elif (num > 5):
    print("Number is greater than 5")
 
else:
    print("Number is smaller than or equals to 5")

Enter any number between 0 and 10: 5
Number is smaller than or equals to 5

In [111]:
#nested if else statement
num = int(input('Enter any number between -10 and 10: '))
if (num != 0):
          if (num > 0):
                      print("Number is positive")
          else:
                      print("Number is negative")
else:
           print("Number is Zero")

Enter any number between -10 and 10: 5
Number is positive

In [112]:
#elif Ladder
my_marks = int(input('Enter marks out of 100: '))
if (my_marks < 35):
    print("Sorry!!!, You are failed in the exam")
elif(my_marks < 60  and my_marks > 35): 
    print("Passed with Second division") 
elif(my_marks > 60 and my_marks < 85):
    print("Passed with First division")
else:
    print("Passed with First division with distinction")

Enter marks out of 100: 98
Passed with First division with distinction

# Loops

In [53]:
#while loop
number = 5
sum = 0
i = 0
 
while (i<number):
    print(i)
    sum = sum + i
    i = i+1
 
print(sum)

0
1
2
3
4
10

In [57]:
#break statement
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [58]:
#continue statement
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [61]:
#else_clause
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# For Loop

In [65]:
numbers = [1, 2, 4, 6, 11, 20]

# variable to store the square of each num temporary
sq = []

# iterating over the given list
for val in numbers:
    # calculating square of each number
    sq.append(val * val)
    # displaying the squares
print(sq)

[1, 4, 16, 36, 121, 400]

In [68]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [67]:
### Practise # 2
for j in range(7,9):
    for i in range(11):
        print(j,' *',i,'=', j*i)

7  * 0 = 0
7  * 1 = 7
7  * 2 = 14
7  * 3 = 21
7  * 4 = 28
7  * 5 = 35
7  * 6 = 42
7  * 7 = 49
7  * 8 = 56
7  * 9 = 63
7  * 10 = 70
8  * 0 = 0
8  * 1 = 8
8  * 2 = 16
8  * 3 = 24
8  * 4 = 32
8  * 5 = 40
8  * 6 = 48
8  * 7 = 56
8  * 8 = 64
8  * 9 = 72
8  * 10 = 80

In [ ]:
#Range() Function
"""
We can generate a sequence of numbers using range() function. range(10) will generate numbers from 0 to 9 (10 numbers).
We can also define the start, stop and step size as range(start, stop,step_size). step_size defaults to 1 if not provided.
"""

print(range(10)) 

print(list(range(10)))

print(list(range(2, 8)))

print(list(range(2, 20, 3)))

#Python for loop example using range() function
for i in range(1,10):
    print(i)

In [69]:
#Python Nested for loop example using range() function
"""
We can use the range() function in for loops to iterate through a sequence of numbers. 
It can be combined with the len() function to iterate through a sequence using indexing. Here is an example.
"""   
genre = ['pop', 'rock', 'jazz']

# iterate over the list using index
for i in range(len(genre)):
    for j in range(len(genre[i])):
        print("I like", genre[i][j])

I like p
I like o
I like p
I like r
I like o
I like c
I like k
I like j
I like a
I like z
I like z

In [119]:
"""
This for...else statement can be used with the break keyword to run the else block only when the break keyword was not executed.
Let's take an example
"""
student_name = 'Jules'

marks = {'James': 90, 'Jules': 55, 'Arthur': 77}

for student in marks:
    if student == student_name:
        print(marks[student])
        break
else:
    print('No entry with that name found.')

55

# Thanks